<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="dashboard">

<div class="container">
    
<div class="sidebar">

    <h3>📚 Course Resource Manager</h3>

    <a href="/home" class="active">🏠 Dashboard</a>

    <a href="/home">📚 Courses</a>

    <a href="#">📁 Resources</a>

    <a href="#">⬆️ Upload Resource</a>

    <a href="#">🔍 Search Resources</a>

    <a href="#">📝 Notes</a>

    <a href="#">⭐ Favorites</a>

    <a href="#">🗑️ Trash</a>

    <hr style="border:1px solid #334155; margin:20px 0;">

    <a href="#">⚙️ Settings</a>

    <a href="/logout">🚪 Logout</a>

</div>

<div class="main">

    <div class="topbar">
        <h2>My Courses</h2>

        <button
            class="add-btn"
            onclick="location.href='/add'">
            + Add Course
        </button>
    </div>

    <div class="projects-container">

        {% if courses %}

            {% for course in courses %}

            <div class="card">

<h3>
    📚 {{ course[2] }}
</h3>

<p>
    Semester: {{ course[3] }}
</p>

<div class="card-buttons">

    <button
        class="edit-btn"
        onclick="location.href='/resources/{{ course[0] }}'">
        View Resources
    </button>

    <button
        class="add-btn"
        onclick="location.href='/add_resource/{{ course[0] }}'">
        Add Resource
    </button>

    <button
        class="edit-btn"
        onclick="location.href='/edit_course/{{ course[0] }}'">
        Edit Course
    </button>

    <button
        class="delete-btn"
        onclick="if(confirm('Delete this course?')) location.href='/delete/{{ course[0] }}'">
        Delete
    </button>

</div>

</div>


            {% endfor %}

        {% else %}

            <p class="no-projects">
                No courses yet.
                <a href="/add">
                    Create one!
                </a>
            </p>

        {% endif %}

    </div>

</div>

</div>

</body>
</html>
